<h1>Супермаркет</h1>
<ul>
  {% for product in products %}
    <li>
      <strong>{{ product.name }}</strong> — {{ product.price }} сом
      <br>{{ product.description }}
      {% if product.image_url %}
        <img src="{{ product.image_url }}" width="100">
      {% endif %}
      <form action="{% url 'add_to_cart' product.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Добавить в корзину</button>
      </form>
    </li>
  {% endfor %}
</ul>
<a href="{% url 'view_cart' %}">Перейти в корзину</a>